/*
    Full-size
    Utilise seulement sur les blocks prenant 100% de l'ecran
*/

.no-gutter {
    margin-left: 0;
    margin-right: 0;
    
    >.row,
    >*>.row {
        margin-left: 0;
        margin-right: 0;
    }
}

.no-gutter-left {
    margin-left: 0;
}

.no-gutter-right {
    margin-right: 0;
}