@mixin show() {
    display: flex;
    visibility: visible;
}

@mixin hide() {
    display: none !important;
    visibility: hidden;
}


// VISIBLE
    .show {
        @include show;
    }
    
    // XSmall
    @include xs-only {
        .visible-sm,
        .visible-md,
        .visible-lg,
        .visible-xl,
        .visible-xxl {
            @include hide;
        }
        .visible-xs {
            @include show;
        }
    }

    // Small
    @include sm-only {
        .visible-xs,
        .visible-md,
        .visible-lg,
        .visible-xl,
        .visible-xxl {
            @include hide;
        }
        .visible-sm {
            @include show;
        }
    }

    // Medium
    @include md-only {
        .visible-xs,
        .visible-sm,
        .visible-lg,
        .visible-xl,
        .visible-xxl {
            @include hide;
        }
        .visible-md {
            @include show;
        }
    }

    // Large
    @include lg-only {
        .visible-xs,
        .visible-sm,
        .visible-md,
        .visible-xl,
        .visible-xxl {
            @include hide;
        }
        .visible-lg {
            @include show;
        }
    }

    // XLarge
    @include xl-only {
        .visible-xs,
        .visible-sm,
        .visible-md,
        .visible-lg,
        .visible-xxl {
            @include hide;
        }
        .visible-xl {
            @include show;
        }
    }

    // XXLarge
    @include xxl {
        .visible-xs,
        .visible-sm,
        .visible-md,
        .visible-lg,
        .visible-xl {
            @include hide;
        }
        .visible-xxl {
            @include show;
        }
    }


// HIDDEN
    .hide {
        @include hide;
    }
    
    // XSmall
    @include xs-only {
        .hidden-xs {
            @include hide;
        }
    }

    // Small
    @include sm-only {
        .hidden-sm {
            @include hide;
        }
    }

    // Medium
    @include md-only {
        .hidden-md {
            @include hide;
        }
    }

    // Large
    @include lg-only {
        .hidden-lg {
            @include hide;
        }
    }

    // XLarge
    @include xl-only {
        .hidden-xl {
            @include hide;
        }
    }

    // XXLarge
    @include xxl {
        .hidden-xxl {
            @include hide;
        }
    }